@import url(https://fonts.googleapis.com/css?family=Quicksand);
html, body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  overflow-x: hidden;
}

.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}

.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}

.bar:before {
  top: -8px;
}

.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
  list-style-type: none;
}

.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}

.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded .bar:before {
  transform: rotate(45deg);
}

.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10px;
}

h1 {
  font-size: 5em;
  text-align: center
}

h3 {
  color: #999;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
  text-align: justify
}

#intro {
  line-height: 10px;
  background: url(img/tec.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 100vh;*/
}

#intro h1 {
  padding-top: 10%
}

#intro h2 {
  color: white;
  line-height: 200%;
  font-size: 3em;
  padding-left: 20%
}

#intro h3 {
  color: white;
  line-height: 200%;
  font-size: 2em;
  padding-left: 20%
}

.row.year button {
  margin: auto;
  display: block;
  background-color: snow;
  color: black;
  vertical-align: bottom;
}

.row.year button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}


/*#portfolio {
  background-color: #222930
}*/

#ano1 {
  background-color: #ab987a
}

#ano2 {
  background-color: #30415d
}

#ano3 {
  background-color: #0f1626
}

#skills {
  background-color: #ff533d
}



#contacto {
  background-color: #222930;
}

a {
  color: white
}

#project {
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 25px;
  width: 350px;
  height: 400px;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
  /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(2.5, 2.5);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}


/* Portrait and Landscape */

@media only screen and (max-device-width: 767px) {
  #intro {
    height: 40vh;
  }
  #project {
    margin-left: 22%;
  }
  .gallery {
    width: 580px;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  }
  .gallery > div {
    position: relative;
    float: left;
    padding: 5px;
  }
  .gallery > div > img {
    display: block;
    width: 170px;
    transition: .1s transform;
    transform: translateZ(0);
    /* hack */
  }
}

@media only screen and (min-device-width: 1280px) {
  #intro {
    height: 100vh;
  }
}
