@import url(http://fonts.googleapis.com/css?family=Quicksand);
html, body {
  height: 100%;

  font-family: 'Quicksand', sans-serif;
  color: white;
}

.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}

.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}

.bar:before {
  top: -8px;
}

.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
  list-style-type: none;
}

.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}

.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded .bar:before {
  transform: rotate(45deg);
}

.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10px;
}

h1 {
  font-size: 5em;
  text-align: center
}

h3 {
  color: #999;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
  text-align: justify
}

#intro {
  line-height: 10px;
  background-color:rgb(40, 54, 86);
   height: 100vh;
    
}


#intro h1 {
  padding-top: 10%
}

#intro h2{
  color: white;
  line-height: 200%;
  font-size: 3em;
  padding-left: 20%
}

#intro h3 {
  color: white;
  line-height: 200%;
  font-size: 2em;
  padding-left: 20%
}

#portfolio {
  background-color: #1e1f26
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  height: 27%
}
#contacto{
background-color: #4d648d;
}

a{
  color:lightseagreen
}
  
